.blog {
    background-color: teal;
    border: 20px solid purple;
    padding: 40px;
    text-align: justify;
    margin: 20px;
}

#vanish {
    /* display: none; */
    visibility: hidden;
} 

span {
    border: 5px solid tomato;
    height: 50px;
    width: 180px;
    /* display: inline-block; */
    display: block;
} 

li {
    display: inline;
    margin-left: 20px;
    color:tomato;
    font-weight: 700;
}