        * {
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }
        #heading {
            color:teal;
            font-size: 30px;
            text-align: center;
            text-decoration: overline;
            margin-top: 50px;
        }
        .para {
            font-size: 18px;
            margin-top: 20px;
            padding: 30px;
            text-align: justify;
            color:crimson;
        }
        .btn {
            margin-left: 30px;
            padding: 10px 20px;
            background-color: teal;
            border: none;
            color: burlywood;
            border-radius: 5px;
            font-weight: bold;
        }